[ req ]
default_bits = 2048
default_keyfile = client.key
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[ req_distinguished_name ]
C = US
ST = State
L = City
O = Organization
OU = OrgUnit
CN = CommonName

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = vaultclient

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth